.App {
  margin: auto;
  background-color: black;
  height: 1000px;
  padding: 10% 0;
}
.Card {
  width: 90%;
  margin: auto;
}
h1 {
  text-align: center;
  color: white;
}
div.ui.card {
  margin: 0 auto;
  width: 90%;
}

